* {
  box-sizing: border-box;
}

@keyframes slide-in {
  from {
    margin-left: 500px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

body {
  background-color: rgb(36, 36, 36);
  color: rgb(202, 201, 201);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  font-family: "roboto", sans-serif;
  padding-top: 25px;
}

.section {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  position: relative;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

input {
  font-size: 30px;
}

.submit {
  font-size: 20px;
}

span {
  padding: 5px;
  margin: 5px;
}

.userInput {
  border: solid 3px rgb(91, 129, 245);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: "roboto", sans-serif;
}

.general {
  animation: slide-in 1s;
}

.education {
  animation: slide-in 1.2s;
}

.experience {
  animation: slide-in 1.4s;
}

.footerDiv {
  position: static;
  bottom: 0;
  font-size: 30px;
  padding-top: 25px;
}
